.logo-container {
    display: inline-block;
    width: 120px;
}

img {
    width: 100%;
}

nav h3 {
    display: inline-block;
    font-weight: normal;
}

h3, h4 {
    padding-top: 4rem;
    margin-bottom: 2rem;
}